* {
    box-sizing: border-box;
}

header {
    margin: 0px;
    padding: 50px;
    width: 100%;
    height: 300px;
    text-align: center;
    font-size: 35px;
    color: white;
    background-image:url("../image/img.jpg");

}

nav {
    float: left;
    width: 30%;
    height: 800px;
    border-right: 1px solid #000000;
    border-bottom: 1px solid #000000;
    padding: 20px;

}

nav ul {
    list-style-type: none;
    height: 100%;
    padding: 0;
}

article {
    float: left;
    padding: 20px;
    width: 70%;
    border-bottom: 1px solid #000000;
    background-color: #f1f1f1;
    height: 800px;
}

section ::after {
    content: "";
    display: table;
    clear: both;
}

footer {
    /* 시작할 색상 정하기  */
    border-bottom: 1px solid #000000;
    /* background-color: #5967b8;  */
    padding: 10px;
    text-align: center;
    color: black;
}                  

@media (max-width:600px) {
    nav, article {
        width: 100%;
        height: auto;
    }
}

.form-container input[type="text"], .form-container textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

.navli {
    margin: 25px;
    font-weight: bold;
    font-size: 25px;
    font-style: italic;
    padding: 10px;
    border-bottom: 1px solid black;
}